package {0};

import org.jnosql.artemis.reflection.FieldWriter;

public class {1} implements FieldWriter '{'

    @Override
    public void write(Object bean, Object value) '{'
        {2}.class.cast(bean).{3}(({4}) value);

    '}'
'}'